/*
yellow: #f7c736;
green: #29b98c;
pink: #ff6176;
*/
body, html {
  color: #fff;
  background-color: #f7caca;
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: liga kern;
  -moz-font-feature-settings: liga kern;
  font-feature-settings: liga kern;
  font-family: FontAwesome, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

.home-half {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
  background: #8ba3d0 url('../img/altynai.png') no-repeat center bottom;
  background-size: auto 80%;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-property: left,right,top,bottom;
  transition-property: left,right,top,bottom;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  text-align: center;
  -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.home-half.right {
  background: url('../img/aleven.png') no-repeat center bottom;
  background-size: auto 80%;
  float: right;
}

.home-half.right .name {
  left: 0;
  right: auto;
}
.name {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-family: "Averta", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 2px;
    /* text-align: center; */
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    width: 220px;
    position: absolute;
    right: 0;
    top: 58px;
}
.description {
  width: 400px;
  margin: 0 auto;
  font-family: fantasy;
}
.link {
  text-decoration: none;
  color: #fff;
}
.icon {
  width: 12px;
  height: 12px;
  margin-left: 8px;
}
.icon.left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
h3 {
  font-weight: normal;
  font-size: 2em;
}
@media (max-width: 767px) {
  .home-half {
    height: 50vh;
    width: 100%;
  }
  .home-half.left {
    align-items: flex-start;
    -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
  }

  .name {
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    height: 38px;
    line-height: 38px;
    width: 120px;
  }
  .home-half.right .name {
    left: 50%;
    bottom: auto;
    top: 0;
  }
}